/* Universal Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #0d0d30;
    color: #d3d3d3;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Header Styles */
header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 50px;
    background: #0d0d30;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.logo {
    font-size: 1.5em;
    color: #fff;
    animation: slideRight 1s forwards;
}

nav a {
    margin-left: 20px;
    color: #d3d3d3;
    text-decoration: none;
    font-size: 1em;
    animation: slideRight 1.2s forwards;
}

nav a:hover {
    color: #0ef;
}

/* Container Styles */
.container {
    width: 80%;
    max-width: 1200px;
    background-color: #333;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 2px solid #0ef;
    font-size: 20px;
    color: #0ef;
    margin-top: 100px;
}

.content {
    text-align: center;
}

.heading {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #fff;
    animation: slideTop 1.5s forwards;
}

.info {
    font-size: 1.2em;
    margin-bottom: 40px;
    color: #ccc;
    animation: slideBottom 1.7s forwards;
}

/* Project List Styles */
.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project {
    background-color: #444;
    width: 45%;
    margin: 10px 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.project-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #fff;
}

.project-description {
    font-size: 1em;
    color: #ccc;
}

/* Home Link */
.home-link a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    color: #fff;
    background: #0ef;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s;
}

.home-link a:hover {
    background: #0dd;
}

/* Animations */
@keyframes slideRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideBottom {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}